<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <style>

    </style>
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=451)}}">
</head>
<body>
	<img src="{{ url_for('static', filename='PNG1.png') }}" alt="ops image" class="imgrostelecom_view">
<div>
    	<br><br><br><br><h2>Комнаты:</h2>
<div id="block1">
</div>
<div id="line1">
</div>
<div id="line2">
</div>
<h1 class="h111_view">Список жильцов</h1>
<table class="table1_view" border="0">
    <thead>
      <td class="td1_view">Номер</td>
      <td class="td1_view">ФИО</td>
      <td class="td1_view">Эл. Почта</td>
      <td class="td1_view">Дата вселения</td>
      <td class="td1_view">Дата выселения</td>
    </thead>
    {% for row in rows %}
      <tr id="tr1_view">
          <td class="td1_view">{{row["id"]}}</td>
          <td class="td1_view">{{row["name"]}}</td>
          <td class="td1_view">{{row["email"]}}</td>
          <td class="td1_view">{{row["StartDate"]}}</td>
          <td class="td1_view">{{row["EndDate"]}}</td>
      </tr>
    {% endfor %}
</table>
<br><br>

<br><br><h2 class="style_input4_view"><a href="/">< Назад</a></h2>

</body>
</html>